/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --heading-text: #db00ff;
  --section-title-color: #ff0070;
  --font-family: "IBM Plex Mono", monospace;
  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --subtitle-color: #000028;
  --border-bottom: #f1b2ce;
  --bg-image: url(../images/cover-image-dark.png);
  --second-color: #ff007040;
  --border-color: #ff0070;
}

.theme-dark .decor {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --heading-text: #db00ff;
    --accent-color: #ff0070;
    --section-title-color: #ff0070;
    --subtitle-color: #000028;
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --border-bottom: #f1b2ce;
    --bg-image: url(../images/cover-image-dark.png);
    --second-color: #ff007040;
    --border-color: #ff0070;
  }

  .decor {
    display: block;
  }
}